@import 'main';

$MenuButton-font-size: 16pt;

.FlexMenu 
{
    border-width:     2px; 
    padding:          2px;   
    padding-top:      0px;    
    font-weight:      800; 
    width:            50px;     
    border-radius:    15px;

    td
    {
        left:             2%;
        right:            2%;
        height:           4px;
        margin-top:       5px;
        border-radius:    15px;
    }
}

.MenuPanel
{
    padding:          10px 10px 10px 5px;
    box-shadow:       inset 1px 1px 1px 1px $color3;
    min-width:        35px;
    min-height:       35px;
}

.MenuButton 
{
    font-size:   $MenuButton-font-size;
    font-weight: 700;

    * 
    {
        font-size: $MenuButton-font-size;
    }

    &:hover
    {
       * 
        {
            font-size: $MenuButton-font-size + 1;
        }
    }

    &:active
    {
        font-size: $MenuButton-font-size - 1;

        *
        {
            font-size: $MenuButton-font-size - 0.5;
        }
    }
}

.hide-panel-button
{
    bottom:      0px;
    width:       35px;
    height:      35px;
}


.list-row
{
    padding-left: 0.35em; 

    *
    {
        padding-left: 0.4em; 
    }
}

.List
{
    padding-left:  0.2em;
    padding-right: 0.2em;

    .caption
    {
        font-size:           20pt;
        font-weight:         800;
    }
}