@import 'fonts';

$color1: White;
$color2: #1F4E6B;
$color3: #1F4E7B;
$color4: Black;
$color5: #EBF2F4;
$color6: #f2ffff;

$button-font:  Arial;
$caption-font: 'Archive Regular', Helvetica;

@mixin transform($property) 
{
    -webkit-transform: $property;
    -ms-transform:     $property;
    transform:         $property;
}

@keyframes leftPulse
{
    0% {
        margin-left: 0px;
    } 50% {
        margin-left: -2.5px;
        filter:      drop-shadow(1px 2px 1px $color1);
    } 100% {
        margin-left: 0px;
    }
}

%NotTuchLable
{
    border:           none;
    outline:          none;
    background-color: inherit;
    color:            inherit;
    font-size:        inherit;
    font-weight:      inherit;
}


.NotTuchLable
{
    @extend %NotTuchLable;
}

.DefaultView 
{
        background: url("./graphic/main_bg.svg") no-repeat bottom center fixed;
}

.FlexMenu 
{
    background-color: $color1;
    border-style:     solid;
    border-color:     $color2;
    color:            $color3;
    position:         absolute;
    vertical-align:   middle;
    
    td
    {
        background-color: $color2;
    }
}

.Buttons
{
    font-family:      $button-font;
    background-color: $color2;
    border:           none;
    color:            inherit;
    outline:          none;

    &:hover
    {
        cursor: default;
        color:  $color5;

        font-size:  calc(100% + 10%);
    }

    &:active
    {
        font-size:  calc(100% - 1%);
    }

}

.MenuButton 
{
    @extend .Buttons;
    position:    relative;
    text-align:  left;
}

.button-icon
{
    position: relative;
    top:      0px;
    width:    80%;
    height:   80%;
}

.hide-panel-button
{
    @extend .Buttons;
    
    position: absolute;

    div:hover 
    {
        animation: 1s ease 0s leftPulse infinite;
    }
}

.MenuPanel
{
    border-color:     $color2;
    background-color: $color2;
    color:            $color1;
    position:         absolute;
}


.List
{
    background-color: $color2;
    position: relative;

    .caption
    {
        div
        {
            font-family:         $caption-font;
            font-weight:         800;

            &:active
            {
                font-size: calc(100% - 5%);
                color:     $color6;
            }
        }

        text-align:          left;
        list-style-position: inside;
        background-color:    $color2;
        color:               inherit;
        list-style-type:     none;
    }
}