@font-face {
  font-family: 'Archive';
  src: local("Archive Regular"), local("Archive-Regular"), url("../fonts/archive/Archive-Regular.otf") format("otf"), url("../fonts/roboto/Archive-Regular.ttf") format("ttf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/roboto/Robotothin.woff2") format("woff2"), url("../fonts/roboto/Robotothin.woff") format("woff"), url("../fonts/roboto/Robotothin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("../fonts/roboto/Robotothinitalic.woff2") format("woff2"), url("../fonts/roboto/Robotothinitalic.woff") format("woff"), url("../fonts/roboto/Robotothinitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto/Robotolight.woff2") format("woff2"), url("../fonts/roboto/Robotolight.woff") format("woff"), url("../fonts/roboto/Robotolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../fonts/roboto/Robotolightitalic.woff2") format("woff2"), url("../fonts/roboto/Robotolightitalic.woff") format("woff"), url("../fonts/roboto/Robotolightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/Roboto.woff2") format("woff2"), url("../fonts/roboto/Roboto.woff") format("woff"), url("../fonts/roboto/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/roboto/Robotoitalic.woff2") format("woff2"), url("../fonts/roboto/Robotoitalic.woff") format("woff"), url("../fonts/roboto/Robotoitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/Robotomedium.woff2") format("woff2"), url("../fonts/roboto/Robotomedium.woff") format("woff"), url("../fonts/roboto/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../fonts/roboto/Robotomediumitalic.woff2") format("woff2"), url("../fonts/roboto/Robotomediumitalic.woff") format("woff"), url("../fonts/roboto/Robotomediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/Robotobold.woff2") format("woff2"), url("../fonts/roboto/Robotobold.woff") format("woff"), url("../fonts/roboto/Robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../fonts/roboto/Robotobolditalic.woff2") format("woff2"), url("../fonts/roboto/Robotobolditalic.woff") format("woff"), url("../fonts/roboto/Robotobolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto/Robotoblack.woff2") format("woff2"), url("../fonts/roboto/Robotoblack.woff") format("woff"), url("../fonts/roboto/Robotoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("../fonts/roboto/Robotoblackitalic.woff2") format("woff2"), url("../fonts/roboto/Robotoblackitalic.woff") format("woff"), url("../fonts/roboto/Robotoblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@keyframes leftPulse {
  0% {
    margin-left: 0px; }
  50% {
    margin-left: -2.5px;
    filter: drop-shadow(1px 2px 1px White); }
  100% {
    margin-left: 0px; } }
.NotTuchLable {
  border: none;
  outline: none;
  background: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit; }

.DefaultView {
  background: url("./graphic/main_bg.svg") no-repeat bottom center fixed; }

.FlexMenu {
  background-color: White;
  border-style: solid;
  border-color: #1F4E6B;
  color: #1F4E7B;
  position: absolute;
  vertical-align: middle; }
  .FlexMenu .list-row {
    background-color: #1F4E6B; }

.Buttons, .MenuButton, .hide-panel-button {
  font-family: Arial;
  background: #1F4E6B;
  border: none;
  color: inherit;
  outline: none; }
  .Buttons:hover, .MenuButton:hover, .hide-panel-button:hover {
    cursor: default; }
    .Buttons:hover *, .MenuButton:hover *, .hide-panel-button:hover * {
      color: #EBF2F4; }

.MenuButton {
  position: relative;
  text-align: right; }
  .MenuButton * {
    text-align: left; }

.button-icon {
  position: relative;
  top: 0px;
  width: 80%;
  height: 80%; }

.hide-panel-button {
  position: absolute; }
  .hide-panel-button div {
    font-family: "Archive Regular", Helvetica;
    font-weight: 800; }
    .hide-panel-button div:active {
      font-size: calc(100% - 1%);
      color: #f2ffff; }
    .hide-panel-button div:hover {
      animation: 1s ease 0s leftPulse infinite; }

.MenuPanel {
  border-color: #1F4E6B;
  background: #1F4E6B;
  color: White;
  position: absolute; }

.List {
  background: #1F4E6B;
  position: relative;
  background-color: #1F4E6B;
  color: inherit; }
  .List .NotTuchLable {
    background: #1F4E6B; }
  .List .caption {
    text-align: left; }
    .List .caption *:hover {
      cursor: default; }

.FlexMenu {
  border-width: 2px;
  padding: 2px;
  padding-top: 0px;
  font-weight: 800;
  width: 50px;
  border-radius: 15px; }
  .FlexMenu td {
    left: 2%;
    right: 2%;
    height: 4px;
    margin-top: 5px;
    border-radius: 15px; }

.MenuPanel {
  padding: 10px 10px 10px 5px;
  box-shadow: inset 1px 1px 1px 1px #1F4E7B;
  min-width: 70px;
  min-height: 70px; }

.MenuButton {
  font-size: 22pt;
  font-weight: 700; }
  .MenuButton:hover * {
    font-size: 23pt; }
  .MenuButton:active {
    font-size: 21pt; }
    .MenuButton:active * {
      font-size: 21.5pt; }

.hide-panel-button {
  position: absolute;
  bottom: 5px;
  width: 70px;
  height: 70px; }

.list-row * {
  padding-left: 0.35em; }

.List {
  padding-left: 0.25em;
  padding-right: 0.25em; }
  .List .caption {
    font-size: 5em;
    font-weight: 700; }

/*# sourceMappingURL=mobile.css.map */
